* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #addba4;
}
.main {
    margin-top: 186px;
}
.container {
    background-color: white;
    margin: 0 auto;
    width: 900px;
    height: 600px;
    box-shadow: 0px 2px 44px 7px rgba(0, 0, 0, 0.3);
}
header {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: grey;
}
.principal {
    height: 533px;
}
.sageata {
    font-size: 25px;
    padding-right: 13px;
}
.back {
    float: left;
    margin: 0 auto;
    font-size: 18px;
    padding-left: 20px;
    line-height: 62px;
}
.next {
    float: right;
    margin-right: 30px;
    line-height: 65px;
    font-size: xx-large;
}
.sus {
    clear: both;
    display: block;
}
.left {
    float: left;
    width: 405px;
    height: 533px;
}
.right {
    padding-top: 102px;
    width: 450px;
    height: 430px;
    float: left;
    padding-left: 38px;
}
.vertical {
    float: left;
}
img {
    width: 270px;
    padding-top: 100px;
    padding-left: 65px;
}
.text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #949494;
}
.title,
.pret {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 20px;
    color: #545454;
}
.title {
    line-height: 43px;
}
.pret {
    line-height: 53px;
}
.butoane {
    height: 150px;
    margin-top: 36px;
}
.btnstanga {
    float: left;
    margin: 30px;
    background: #fff;
    border: 1px solid #DADADA;
    padding: 12px 41px;
    font-weight: 400;
    color: grey;
    margin-right: 2%;
    margin-left: 0px;
}
.btndreapta {
    float: left;
    margin: 30px;
    background: #fff;
    border: 1px solid #DADADA;
    padding: 12px 41px;
    font-weight: 400;
    color: grey;
    margin-right: 2%;
}
.btnstanga {
    transition: all .2s ease-in-out;
}
.btnstanga:hover {
    transform: scale(1.1);
}
.btndreapta {
    transition: all .2s ease-in-out;
}
.btndreapta:hover {
    transform: scale(1.1);
}
.next {
    transition: all .2s ease-in-out;
}
.next:hover {
    transform: scale(1.4);
}
