* {
    margin: 0px;
    padding: 0px;
}
html {
    background: url(images/mountains.jpg) no-repeat center center fixed;
    background-size: cover;
}
.bigcontainer {
    margin: 0 auto;
    margin-top: 7%;
    width: 900px;
    height: 600px;
    box-shadow: -1px 4px 36px 0px rgba(89, 84, 89, 0.91);
    background: linear-gradient( rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), no-repeat center center fixed;
}
.left {
    float: left;
    width: 60%;
    height: 100%;
}
.title {
    margin: 0 auto;
    padding: 10% 0 0 10%;
    font-family: 'Roboto', sans-serif;
    font-size: 46px;
    font-weight: 900;
    color: #396479;
}
.text {
    padding-left: 10%;
    padding-top: 0px;
    color: slategrey;
    font-size: 20px;
}
.right {
    float: left;
    width: 40%;
    height: 100%;
    background-color: white;
}
img {
    border-radius: 50%;
    margin: 17% 30%;
}
.login {
    margin-bottom: 12px;
    text-align: center;
    color: grey;
}
.login a {
    text-decoration: none;
    color: #39659c;
}
input {
    padding: 16px;
    width: 70%;
    margin: 9px 37px;
}
.submitt {
    width: 80%;
    background-color: #39659c;
    color: white;
    font-family: 'Roboto', sans-serif;
    border: none;
}
.submitt:hover {
    background-color: #00264b;
}
.forgot {
    margin-top: 18%;
    margin-left: 30%;
}
.forgot a {
    text-decoration: none;
    color: #39659c;
}
a:hover {
    color: #00264b;
}
