* {
    box-sizing: border-box;
}
body {
    background: rgb(204, 204, 204);
    font-family: 'Work Sans', sans-serif;
    font-size: 13px;
}
page[size="A4"] {
    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
@media print {
    body,
    page[size="A4"] {
        margin: 0;
        box-shadow: 0;
    }
}

.row:after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    //border: 1px solid red;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
.container {
    padding: 9%;
}
.negru {
    background-color: black;
    color: white;
    width: 20.87%;
    line-height: 53px;
    text-align: center;
}
.sender > * {
    text-align: right;
    display: block;
    margin: 2%;
}
.sender > h4 {
    margin-bottom: 10%;
}
.sender {
    padding-bottom: 0;
}
.invoice > * {
    text-align: right;
}
.recipient > * {
    text-align: left;
}
.adrress {
    height: 100%;
}
.adrress > *,
.contact > *,
.invoiceContent > * {
    line-height: 4px;
}
.invoiceContent > * {
    line-height: 2px;
}
.name {
    margin-bottom: 12%;
}
table {
    width: 100%;
}
th {
    text-align: left;
}
tr {
    line-height: 50px;
}
tr td:nth-child(3),
tr td:nth-child(4),
tr th:nth-child(3),
tr th:nth-child(4) {
    text-align: center;
}
tr td:nth-child(5),
tr th:nth-child(5) {
    text-align: right;
}
td,
p {
    color: grey;
}
hr {
    background-color: #dadada;
    height: 1px;
    border: 0;
}
tfoot tr td:nth-child(4) {
    font-weight: bold;
    color: black;
}
tfoot tr:last-child td:nth-child(2),
tfoot tr:last-child td:nth-child(4) {
    color: black;
    font-weight: bold;
    line-height: 50px;
    text-transform: uppercase;
    font-size: large;
}
tfoot tr:first-child {
    padding: 12px;
    display: block;
}
tfoot tr td {
    text-align: center;
}
tfoot tr td:last-child {
    text-align: right;
}
.notes p {
    margin: 0;
    padding: 0;
}
.notes p:nth-child(2) {
    line-height: 55px;
}
.notes h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}
