body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}
/* Start navigation */
.menu-bar, .logo, .meniu, .dreapta {
    height: 77px;
}
.navigation {
    width: 100%;
}
.logo {
    width: 63%;
}
.logo-clasa {
    padding-left: 1px !important;
}
.meniu {
    list-style-type: none;
    line-height: 82px;
}
.meniu li {
    float: left;
    padding-right: 15%;
    transition: all .2s ease-in-out;
}
.meniu li:hover {
transform: scale(1.1);
}
.dreapta {
    padding-top: 0.8%;
}
.dreapta > * {
    float: right;
    margin-left: 3%;
}
.search {
    border: 0;
    border-right: 1px solid grey;
    height: 43px;
    line-height: 42px;
}
::-webkit-input-placeholder {
    font-size: 25px;
    text-align: right;
}
.my-cart {
    list-style-type: none;
    padding-top: 2%;
}
.numar {
    width: 12%;
    height: 72%;
    background-color: #ADA177;
    border: 0;
    color: white;
    font-size: large;
}
.navigation li,
.navigation li a {
    color: #999;
    font-size: 19px;
    text-decoration: none;
}
.search:focus {
    outline: none;
}
/* End navigation */

/* Start header*/
header {
    width: 100%;
    height: 830px;
    background: url(../images/office.jpg) no-repeat left;
}
header .container {
    width: 960px;
    margin: auto;
    height: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
}
.collection {
    width: 11%;
}
.text {
    float: left;
    font-family: 'Abril Fatface', cursive;
}
.title {
    font-size: 95px;
    text-align: center;
}
.second-title {
    font-size: 107px;
}
.linie {
    width: 10%;
    height: 2px;
    border: 0;
    background-color: #899A91;
    float: left;
    margin-right: 4%;
}
.description {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    letter-spacing: 5px;
    line-height: 42px;
    color: #96826D;
}
.bara {
    width: 100%;
    height: 1px;
    background-color: rgba(158, 158, 158, 0.36);
    border: 0;
}
.semi-meniu {
    text-align: center;
}
.semi-meniu button {
    background-color: transparent;
    border: 0;
    font-family: arial;
    color: grey;
    width: 7%;
    height: 35px;
}
.semi-meniu button:focus {
    outline: none;
}
.semi-meniu .active:after {
    content: "";
    position: absolute;
    border-top: 1px solid grey;
    width: 30px;
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    margin-left: -20px;
}
.sq3 {
    z-index: -1;
    border: 1px solid #AB9898;
    width: 18%;
    height: 52%;
    margin-left: 47.5%;
    margin-top: -30%;
}
.sq2 {
    z-index: -1;
    border: 1px solid #AB9898;
    width: 18%;
    height: 52%;
    margin-left: 45%;
    margin-top: -30%;
}
.sq1 {
    z-index: -1;
    border: 1px solid #AB9898;
    width: 18%;
    height: 52%;
    margin-left: 42.7%;
    margin-top: -30%;
}
/* End header*/

/* Start Section*/
section {
    width: 100%;
    height: 1000px;
    font-family: 'Lato', sans-serif;
}
.big-container {
    width: 70%;
    height: 80%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.pricing {
    border: 2px solid #D4CBCB;
    border-bottom: 0;
    padding-bottom: 1%;
    color: #8C8080;
}
.price {
    float: left;
}
.value {
    float: right;
}
.price,
.value,
.choose,
.buy {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 18px;
    letter-spacing: 7px;
    line-height: 80px;
}
.ligne {
    clear: both;
}
.choose {
    width: 100%;
    border: 0;
    height: 80px;
}
.choose:focus {
    outline: none;
}
.buy {
    width: 100%;
    background-color: #ADA177;
    border: 1px solid #776E4F;
    color: white;
    line-height: 61px;
    font-weight: 600;
    letter-spacing: 11px;
}
.product-description {
    width: 100%;
    border: 0;
    border-top: 2px solid #D4CBCB;
    margin-top: 2%;
    height: 237px;
    max-height: 237px;
    padding: 3%;
}
.product-description .title {
    font-size: 25px;
    text-align: left;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    color: #8C8080;
}
.product-description .context {
    font-size: 24px;
    letter-spacing: 1px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 600;
}
.specifications ul {
    list-style-type: none;
    padding-left: 0px;
}
.details {
    margin-left: -15px;
    margin-right: -15px;
}
.parinte {
    border-right: 2px solid #D4CBCB;
    padding-bottom: 6.1%;
    font-size: 22px;
}
.brd {
    width: 122%;
    background-color: #D4CBCB;
    height: 2px;
    border: 0;
    margin-left: -15px;
}
.details {
    padding-top: 10%;
}
.details .materials {
    line-height: 61px;
    font-size: 25px;
    color: #8C8080;
}
.details .specifications {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
}
.details .first-specs {
    padding-bottom: 5%;
}
.jos {
    padding-bottom: 13%;
    min-height: 152px;
}
.second-parinte img {
    width: 90%;
    padding: 9%;
}
.second-parinte {
    padding-top: 4%;
    padding-bottom: 4%;
}
#bigimg {
    height: 470px;
    padding: 0;
    width: 100%;
}
.middle {
    min-height: 168.8px;
}
#sus {
    padding-top: 0;
    min-height: 151.9px;
}
#jos {
    padding-bottom: 0;
}
.classsa {
    border-bottom: 2px solid #D4CBCB;
    ;
    border-top: 2px solid #D4CBCB;
    margin-top: -2px;
}
/* End Section */

/* Start article*/
article {
    width: 100%;
    height: 650px;
    font-family: 'Crimson Text', serif;
}
article .continut {
    width: 45%;
    top: 50%;
    height: 80%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
article .continut .linia {
    width: 10%;
    height: 3px;
    background-color: #B5A82B;
    margin-bottom: 5%;
}
article .continut .title {
    font-size: 60px;
    text-align: center;
}
article .continut .autor {
    text-align: center;
    font-size: 29px;
    padding: 2%;
    color: #8C8080;
}
.about {
    margin-left: 14%;
    height: 20%;
    width: 70%;
    /* padding-top: 0%; */

    margin-top: 6%;
    border: 0;
    font-size: 16px;
    letter-spacing: 4px;
    color: grey;
}
/* End article */

/* Start main */
main {
    height: 630px;
    width: 100%;
    background-color: black;
    z-index: -3;
    box-sizing: border-box;
    overflow: hidden;
}
main .nume {
    width: 37%;
    padding: 11% 3%;
    padding-right: 0%;
    padding-left: 12%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 43px;
    color: white;
    font-family: 'Crimson Text', serif;
}
main .nume hr {
    width: 12%;
    height: 1px;
    background-color: grey;
    border: 0;
}
main .nume .titl {
    font-size: 25px;
}
main .nume .descr {
    letter-spacing: 10px;
}
main .nume .modele {
    color: grey;
    padding-top: 15%;
    padding-left: 10%;
}
main .nume .modele * {
    display: block;
    float: left;
}
main .nume .modele span:first-child {
    padding-left: 5%;
}
main .nume .modele div {
    line-height: 39px;
    font-size: 24px;
    padding: 0 1%;
    background-clip: padding-box;
}
main .nume .modele a {
    color: grey;
}
main .slider div {
    float: left;
    width: 21%;
    position: relative;
}
main .slider div img {
    width: 168%;
    padding: 25% 30%;
    height: 671px;
    padding-left: 181px;
}
.last {
    overflow: hidden;
}
 .second {
    position: absolute;
    bottom: 20.3%;
    right: 54%;
    background: transparent;
    width: 50%;
    border: 0;
    height: 12%;
    color: grey;
    font-size: 24px;
    border: 1px solid grey;
    border-left: 0;
}
.first {
    position: absolute;
    bottom: 20.3%;
    right: 110%;
    background-color: #ADA177;
    border: 1px solid #776E4F;
    width: 20%;
    border: 0;
    height: 12%;
    color: white;
    font-size: 24px;
}
/* End main */

/* Start article-container*/
.articole {
    width: 100%;
    height: 900px;
    text-align: center;
}
.articole .titlul {
    text-align: center;
    padding: 100px;
    font-size: 18px;
    color: gray;
    letter-spacing: 5px;
}
.articole .face {
    border-radius: 50%;
    width: 37%;
    height: 105px;
    margin-top: 4%;
    text-align: center;
    margin: auto;
    display: block;
}
.articole hr {
    width: 23%;
    height: 1px;
    border: 0;
    background-color: #C7BEBE;
    margin-top: 18%;
}
.articole .withborder {
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}
.articole .descrie {
    font-size: 24px;
    line-height: 44px;
    padding: 13% 8%;
}
.articole .author {
    font-size: 20px;
    color: grey;
}
.read {
    height: 9%;
    width: 43%;
    margin-left: 0;
}
/* End articole-container*/

/* Start footer */
footer {
    width: 100%;
    height: 300px;
    background-color: #E6DEDE;
    text-align: center;
}
footer img {
    width: 120px;
    height: 97px;
    margin: 3% 0;
}
footer ul {
    list-style-type: none;
    margin: auto;
    margin-left: 28%;
    font-size: 20px;
}
footer ul li {
    display: block;
    float: left;
    margin: 0 2%;
}
footer ul li a {
    color: black;
}
/* End footer */

/* Media queries */
@media screen and (max-width: 1700px) {
  main .slider div .first{
    right: 10%;
    width: 20%;
    height: 9%;
    font-size: 24px;
  }
  main .slider div .second {
      right: -35%;
      width: 38%;
      height: 9%;
      font-size: 15px;
  }
}
@media screen and (max-width: 1300px) {
  .navigation li,
  .navigation li a{
    font-size: 95%;
  }

  .search {
    width: 10%;
  }

  main .slider div .first{
    right: -12%;
    width: 16%;
    height: 8%;
    font-size: 105%;
  }
  main .slider div .second {
      right: -36%;
      width: 22%;
      height: 8%;
      font-size: 9px;
  }
  article {
    padding-top: 13%;
    clear: both;
  }
  article .continut .title {
    font-size: 307%;
  }
  footer ul {
    margin-left: 9%;
  }
}
/*Slider*/
.owl-nav {
  position: absolute;
bottom: 44%;
width: 100%;
}
.owl-prev{
      float: left;
      font-size: 30px;
      border: 1px solid #423E3E;
      width: 91px;
      height: 51px;
      text-align: center;
}
.owl-prev:hover, .owl-next:hover{
  background-color: white;
}

.owl-next{
  float: right;
  font-size: 30px;
  border: 1px solid #423E3E;
  width: 91px;
  height: 51px;
  text-align: center;
}
.owl-stage {
  width: 5673px !important;
  height: 470px;
  margin-top: 5%;
      /*transform: translate3d(-1324px, 0px, 0px) !important;*/
}
.owl-item{
  width: 375px !important;
}

.owl-carousel .item {
height: 36em;
width: 118%;
padding-right: 18%;
margin-top: 8%;
    margin-left: -172px;
}
.owl-carousel .item img{
height: 90%;
}
.wrapper{
width:57%;
float: right;
}
